artifact
logs
notebook
notes
workflow.txt
.gitignore
template.py
demo.py
README.md
LICENSE
vehicle_insurance.egg-info
.vscode
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env
.git/
.pytest_cache/
.mypy_cache/